<li id="comment-<%= comment._id %>">
        <p id="commentlayout">
            <% if (locals.user && locals.user.id == comment.user.id){ %>
            
            <small>
                <a class="delete-comment-button" id="deletebtn" href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
            <% } %>
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>
        </p>    

</li>