<link rel="stylesheet" href="/css/home.css">

<div >
    
    
    <div id="signup1">
        <h1 id="field">Sign In</h1>
        <br>
        <br>
        <form action="/users/create-session" method="POST">
            <label for="email"><b>Username</b></label><br>
            <input id="emaill"   type="email" name="email" placeholder="Email"  required>
            <br>
            <br>
            <label for="password"><b>Password</b></label><br>
            <input id="passw"  type="password" name="password" placeholder="Password"  required>
            <br>
            <br>
            <input type="submit"  id="btnn" value="Sign In" >
            <br><br>
            
        </form>
        <br>
        <br>
        <br>
        
        <a id="btnn1" href="/users/auth/google">
            <div  >
                    SIGN IN BY GOOGLE</div>
        </a>
    
    
        
        
    </div>
    
    
</div>
