#home-container{
    margin-left: 10%;
    display: flex;
}
#posts-list-container{
    display: flex;
  justify-content: center;
}
#new-post-form{
    display: flex;
  justify-content: center;  

}
#titleofhmepage{
    display: flex;
  justify-content: center;
  

}
#feed-post{
    width: 40%;
    float: left;
    margin-left: 20%;
}

#user-friends{
    width:20% ;
   
    float: right;
    margin-left: 20%;
}
#postlayout{
    margin-top: 20%;
    background-color: #B3ED68;
    height: 100px;
    width: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(131, 196, 226);
    border-radius: 2px;
}

#commentlayout{
    background-color: #EDCC68;
    height: 40px;
    width: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(131, 196, 226);
    border-radius: 2px;
    
}
#deletebtn{
    float: right;
    
}
#signuplay{
    
    margin-left: 20%;
}

#signup1{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 10%;
    /* border-radius: 1px;
    border-color: salmon;
    border-style: solid; */
    width: 50%;
}
#field{
   
    border-bottom-width: 1px;
    border-bottom-color: salmon;
    border-bottom-style: solid;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#field1{
    border-bottom-width: 1px;
    border-bottom-color: salmon;
    border-bottom-style: solid;
    
    width: 60%;
    text-align: center;

    background-color: salmon;
    font-size: 100%;
    
    align-items: center;
    justify-content: center;
}
#btnn{
background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
#btnn:hover{
    opacity: 0.8;
}

  
  /* Full-width inputs */
  input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #btnn1{
    background-color: salmon;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 95%;
      text-align: center;
    }
    #btnn1:hover{
        opacity: 0.8;
    }
    