body{
    background-color: CCE5F4;
}
#profileimg{
    width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
#pname{
    font-size: 400%;
    margin-left: 15%;
}
#pmail{
    margin-top: 10%;
    font-size: 150%;
    margin-left: 15%;
}


#alef{

    float: left;
}

#aright{
    margin-top: 10%;
    margin-right: 5%;
    float: right;
}
input[type=email], input[type=file], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  #btnn{
    background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      text-align: center;
    }
    #btnn:hover{
        opacity: 0.8;
    }
    